# Node
/node_modules
.DS_Store

# Byte-compiled / optimized / DLL files
/__pycache__
*/__pycache__/*
/server/chat/__pycache__
/server2/chat/__pycache__

# Environments
/data
.env

# Qdrant and Embedded Promotions
/qdrant_storage
/promotion_search/data/processed/*